<main class="form-signin w-100 m-auto" style="max-width: 330px; padding: 15px;">
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <!-- <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-box-arrow-in-right"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
      <path fill-rule="evenodd"
        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
    </svg>
    @if(authError){
      <!--Error banner  start-->
    <div class="alert alert-danger mb-3" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>
      <div>
        <strong>Error:</strong> 
        {{errorMsg()}}
      </div>
    </div>
     <!-- Error banner end -->
    } 
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
   
    <div class="form-floating mb-3">
      <input type="email" [appEmail]="domains" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" ngModel  #email="ngModel" required>
      <label for="floatingInput">Email address</label>
      @if(email?.touched){
        <div>
          @if(email.hasError('required')){
            <p>Email is required!</p>
          }
          @if(email.hasError('emailValidator')){
            <p>Email is not Valid</p>
          }
        </div>
      }
    </div>

    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" ngModel #password="ngModel" required>
      <label for="floatingPassword">Password</label>
      @if(password?.touched || password?.dirty){
        <div>
          @if(password.hasError('required')){
            <p>Password is required!</p>
          }
        </div>
      }
    </div>

    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->

    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
    
  </form>
  
</main>
