<main class="form-signin w-100 m-auto" style="max-width: 330px; padding: 15px;">
  <form #form="ngForm" (ngSubmit)="onCreate(form)">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Create Post</h1>

    <div class="form-floating mb-3">
      <input 
      type="text" 
      name="theme"
      class="form-control" 
      id="floatingTheme" 
      placeholder="Enter Theme" 
      ngModel  
      #theme="ngModel">
      <label for="floatingTheme">Theme</label>
    </div>
    <div class="form-floating mb-3">
      <input 
      type="text" 
      name="title"
      class="form-control" 
      id="floatingTitle" 
      placeholder="Enter Title" 
      ngModel  
      #title="ngModel">
      <label for="floatingTitle">Title</label>
    </div>

    <div class="form-floating mb-3">
      <textarea 
      class="form-control" 
      name="description"
      id="floatingDesc"
      placeholder="Text" 
      ngModel 
      #description="ngModel"
      ></textarea>
      <label for="floatingDesc">Description</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Create Post</button>
  </form>
</main>