<div class="px-4 py-5 my-5 text-center"> 
  <br>
    <h1 class="display-6 fw-bold text-center text-primary mb-4">Explore Stories, Share Ideas, and Tune In</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Dive into a world of stories and innovations across travel, lifestyle, technology, culture and food — written by our growing community. Discover featured podcasts, or create your own post and become part of the conversation.</p>
        @if(!isLoggedIn){
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button routerLink="/login" type="button" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
        <button routerLink="/register" type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button>
      </div>
        }
    </div>
  </div>
  