<main class="container">
<!-- Posts heading -->
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4">Horizons: Travel, Lifestyle, Technology, Culture, Food</h1>
      <p class="lead my-3"> — our blog is your space for curiosity, connection, and discovery.</p>
    </div>
  </div>
<!-- Post cards -->

<div class="row mb-2">
  @for (post of posts; track $index){
        
          <div class="col-md-6 mb-4">
            <div class="card h-100">
              <img [src]="post.image" class="card-img-top" style="height: 500px; object-fit: cover;" alt="...">
              <div class="card-body d-flex flex-column">
                <span class="badge bg-success mb-2">{{post.theme}}</span>
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text" [innerHTML]="post.description | slice: 100"></p>
                <button routerLink="{{post._id}}" class="btn btn-info">Details</button>
              </div>
            </div>
          </div>
        
  }
  </div> 
</main>

